.root {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: space-between;
  gap: var(--form-label-gap);
  padding-block: var(--form-label-gap);
  color: var(--text-secondary);
}
